body {
    background-color:#847e7e;
    color:#1b1d2d;
}

a {color:#4858d1}
a:hover {color:#1b2782}
a:visited {color:#a113e2}

h1, h2 {color:#964040}

nav {background-color: #3e4a60;}
nav a {color:#b52727;}
nav a:hover {background-color: #207168;}